/* CARD FAN */

.card_fan
{
	--cards: 9;
	--curvature: 70deg;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	transform: translateY(15vmin);
	transform-style: preserve-3d;
}

.card_fan > .card
{
	--curve: calc(var(--curvature) * ((var(--index) - (var(--cards) - 1) / 2) / var(--cards)));
	flex: 0 0 auto;
	transform-origin: 50% 100%;
	transform: rotate(var(--curve)) translateY(-225%);
	transition: all 0.3s;
	cursor: pointer;
	transform-style: preserve-3d;
}

.card_fan > .card::before
{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	transition: all 0.3s, translate 0s;
	pointer-events: none;
}
